NFP_SDK=/opt/nfp_pif
NFP_TOOLS=/opt/netronome
VFS_PER_CARD=8
SMARTNIC_0_PF=0000:00:00.0
SMARTNIC_1_PF=0000:00:00.0
SMARTNIC_2_PF=0000:00:00.0
SMARTNIC_3_PF=0000:00:00.0
SMARTNIC_4_PF=0000:00:00.0
SMARTNIC_0_RTE_PORT=20206
SMARTNIC_1_RTE_PORT=20207
SMARTNIC_2_RTE_PORT=20208
SMARTNIC_3_RTE_PORT=20209
SMARTNIC_4_RTE_PORT=20210
